<header class="bg-dark text-white py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1>
                    <a href="{% url 'blog:home' %}" class="text-white text-decoration-none">
                        Byte Board Blog
                    </a>
                </h1>
            </div>
            <div class="col-md-4 d-flex align-items-center justify-content-end">
                <a href="/about/" class="text-white me-3">About Me</a>
                <a href="/rss/" class="text-white me-3">RSS</a>
                <a href="/atom/" class="text-white">Atom</a>
            </div>
        </div>
    </div>
</header>