{% extends "blog/base.html" %}
{# load reactpy #}

{% block meta_title %}
    {% if month_name %}
        Archive: "{{ month_name }}" "{{ year }}" - Byte Board Blog
    {% else %}
        Archive: {{ year }} - Byte Board Blog
    {% endif %}
{% endblock %}

{% block content %}
    {% if month_name %}
        {% include "blog/partials/post_list.html" with posts=posts page_obj=posts title=title %}
    {% else %}
        {% include "blog/partials/post_list.html" with posts=posts page_obj=posts title=title %}
    {% endif %}

    <div class="mt-4">
        <a href="{% url 'blog:home' %}" class="btn btn-outline-primary">&larr; Back to All Posts</a>
    </div>
{% endblock %}
