{% extends "blog/base.html" %}

{% block meta_title %}{{ post.meta_title|default:post.title }}{% endblock %}
{% block meta_description %}{{ post.meta_description|default:post.content|truncatewords:25 }}{% endblock %}
{% block meta_keywords %}{% for tag in post.tags.all %}{{ tag.name }}{% if not forloop.last %}, {% endif %}{% endfor %}{% endblock %}

{% block og_type %}article{% endblock %}

{# --- Open Graph Blocks --- #}
{% block og_title %}{{ post.og_title|default:post.title }}{% endblock %}
{% block og_description %}{{ post.og_description|default:post.meta_description|default:post.content|striptags|truncatewords:25 }}{% endblock %}
{% block og_image %}
    {% if post.image %}
        {{ request.scheme }}://{{ request.get_host }}{{ post.image.url }}
    {% endif %}
{% endblock %}

{# --- Twitter Blocks (mirroring the OG content) --- #}
{% block twitter_title %}{{ post.og_title|default:post.title }}{% endblock %}
{% block twitter_description %}{{ post.og_description|default:post.meta_description|default:post.content|striptags|truncatewords:25 }}{% endblock %}
{% block twitter_image %}
    {% if post.image %}
        {{ request.scheme }}://{{ request.get_host }}{{ post.image.url }}
    {% endif %}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css">
{% endblock %}

{% block content %}
    {# Replace the component with a simple include #}
    {% include "blog/partials/post_detail_content.html" %}

    <div class="d-flex justify-content-between mb-4">
        <div>
            <a href="{% url 'blog:home' %}" class="btn btn-outline-primary">&larr; Back to Posts</a>
        </div>

        <div class="social-sharing">
            {# Add HTMX attributes to the form #}
            <form
                    hx-post="{% url 'blog:share_post' post.id %}"
                    hx-target="#share-messages"
                    hx-swap="innerHTML"
                    class="d-inline-block">
                {% csrf_token %}
                <button type="submit" name="mastodon" class="btn btn-outline-primary">Share on Mastodon</button>
                <button type="submit" name="bluesky" class="btn btn-outline-primary">Share on BlueSky</button>
            </form>

            {# This div is where the response from the HTMX request will be placed #}
            <div id="share-messages" class="mt-2"></div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelectorAll('pre code').forEach((el) => {
            hljs.highlightElement(el);
        });
    });
</script>
{% endblock %}
